{% if game %}

<center>
    <div class="col-lg-2"></div>
<div class="col-lg-8 col-lg-offset-2">
    <h1>{{ game.title }}</h1>
    <p>
        <img src="{{ game.images.icon }}"/>
    </p>
</div>
</center>

{% if similar_games %}

<div class="container">
    <h2 class="text-center">Similar</h2>
    {% for sim_game in similar_games %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-lg-2 fa-border">
        <p>
            <img src="{{ sim_game.images.icon}}" class="w-100"/>
        </p>
        <h3>{{ sim_game.title }}</h3>
        <p>
            <a href="{% url 'game'%}?game_id={{sim_game.id}}">
            <i class="fa fa-info-circle fa-5x btn"></i>
            </a>
        </p>
        <p>Hit: {{ sim_game.score }}</p>
    </div>
    {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>

{% endif %}

{% if series %}

<div class="container">
    <h2 class="text-center">Series</h2>
    {% for _, sim_game in series.items %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-lg-2 fa-border">
        <div>
            <img src="{{ sim_game.images.icon}}" class="w-100"/>
        </div>
        <h3>{{ sim_game.title }}</h3>
        <p>
            <a href="{% url 'game'%}?game_id={{sim_game.id}}">
            <i class="fa fa-info-circle fa-5x btn"></i>
            </a>
        </p>
    </div>
    {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>

{% endif %}

{% else %}
<h1>No game</h1>
{% endif %}