<div class="container">
    <h1 class="text-center">{{ title }}</h1>
    {% if games_list %}

        {% for game in games_list %}

            {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-lg-2 fa-border">
                <div>
                    <img src="{{ game.img }}" class="w-100"/>
                </div>
                <h3>{{ game.title }}</h3>
                <p>
                    <a href="{% url 'game'%}?game_id={{game.id}}">
                    <i class="fa fa-info-circle fa-5x btn"></i>
                    </a>
                    {% if game.score %}
                        <h4> Ranked: {{ game.score }} </h4>
                    {% endif %}
                </p>
            </div>
            {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}

    {% endif %}
</div>
