{% if game %}

<center>
    <div class="col-lg-2"></div>
<div class="col-lg-8 col-lg-offset-2">
    <h1>{{ game.title }}</h1>
    <p>
        <img src="{{ game.images.icon }}"/>
    </p>
</div>
</center>

{% if similar_games %}
    {% include 'recommendations/recommendation_list.html' with title='Similar' games=similar_games%}
{% endif %}

{% if series %}
    {% include 'recommendations/game_list.html' with title='Series' games_list=series|get_items%}
{% endif %}

{% else %}
<h1>No game</h1>
{% endif %}