<div class="container">
    <h2 class="text-center">{{title}}</h2>
    {% for sim_game in games %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-lg-2 fa-border mover" url="{% url 'game'%}?game_id={{sim_game.id}}">
        <h3>Score: {{ sim_game.score | multiply:100 | floatformat:2 }} %</h3>
        <p>
            <img src="{{ sim_game.img }}" class="w-100"/>
        </p>
        <h3>{{ sim_game.title }}</h3>
    </div>
    {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>
