{% extends "base.html" %}

{% block content %}

<h1>User: {{request.GET.user_id}}</h1>

{% if games %}
    {% include 'recommendations/recommendation_list.html' with title='Recommended' games=games%}


    {% include 'recommendations/game_list.html' with title='Owned' games_list=owned%}
    {% include 'recommendations/game_list.html' with title='Played' games_list=played%}
    {% include 'recommendations/game_list.html' with title='Ranked' games_list=ranked%}
    {% include 'recommendations/game_list.html' with title='Wishlist' games_list=wishlist%}

{% else %}
<h1>No such a user in database.</h1>
{% endif %}

{% endblock content %}